### User parameters ###
DB/ad_book.db
DB/db_text.txt
Log/info_text.txt
example.pl

### Perl ###
Libs/AddContact.pm
Libs/FuncDate.pm
Libs/FuncLog.pm
Libs/DeleteContact.pm
Libs/EditContact.pm
Libs/SearchContact.pm
Libs/ViewContact.pm
Test/

### Git ###
